
/*###################################   SCROLL-UP   ###########################################*/
* {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px Tahoma, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px #D8D8D8 solid;

    line-height: 1;
    font-weight: normal;
    color: #666666;
}

p {
    margin-bottom: 30px;

    line-height: 24px;
    color: #4C4C4C;
}

.backToTop {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 198, 255, .9);

    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;

    position: fixed;
    bottom: 30px;
    right: 30px;

    cursor: pointer;

    font: 14px/1 Tahoma, Arial, sans-serif;
    color: #006583;
}

.backToTop.hidden {
    opacity: 0;
    visibility: hidden;
}

/*################################### END SCROLL-UP   ###########################################*/
/*body*/
/*{*/
    /*!* Background pattern from subtlepatterns.com *!*/
    /*background-image: url(img/background-image-body.png);*/
    /*font-size: 20px;*/
    /*margin: 0;*/

/*}*/

/*header*/
/*{*/

    /*!*height: auto;*!*/
    /*height: 500px; !*narazie tylko na testy ustawilem 500px, potem bedzie na auto*!*/
/*}*/

/*h1*/
/*{*/
    /*text-align: center;*/
    /*font-size: 80px;*/
    /*letter-spacing: 1px;*/
    /*text-transform: uppercase;*/
    /*text-shadow:3px 3px 0 gray;*/
    /*font-family: 'Merienda', cursive;*/

/*}*/

/*nav*/
/*{*/
    /*text-align: center;*/
    /*width: 100%;*/
/*}*/

/*ol*/
/*{*/
    /*width:1000px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/

/*}*/

/*li*/
/*{*/
    /*list-style: none;*/
    /*width: 200px;*/
    /*border-radius: 5px;*/
    /*display: inline-block;*/
    /*background-color: lightgray;*/
    /*padding: 15px;*/
    /*letter-spacing: 1px;*/
    /*border:2px solid black;*/
    /*box-shadow:0 0 20px black; !*cien wokol okregu*!*/

/*}*/

/*li:hover*/
/*{*/
    /*-webkit-transform: scale(1.1) translate(0px, 0px);*/
    /*-moz-transform: scale(1.1) translate(0px, 0px);*/
    /*-o-transform: scale(1.1) translate(0px, 0px);*/
    /*-ms-transform: scale(1.1) translate(0px, 0px);*/
/*}*/

/*a*/
/*{*/
    /*text-decoration: none;*/
    /*color: #000;*/
/*}*/


/*section*/
/*{*/
    /*width: 100%;*/
/*}*/

/*.title1*/
/*{*/
    /*width: 100%;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    /*background-color: lightgray;*/
/*}*/

/*.title2*/
/*{*/
    /*width: 1200px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

/*}*/

/*form*/
/*{*/
    /*text-align: center;*/
    /*width: 700px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*background-color: lightgray;*/
    /*padding: 50px;*/
    /*border-radius: 10px;*/
    /*border:2px solid black;*/
    /*box-shadow:0 0 20px black; !*cien wokol okregu*!*/
/*}*/

/*input[type=text]*/

/*{*/
    /*width: 200px;*/
    /*background-color: #efefef;*/
    /*color: #666;*/
    /*border: 2px solid #ddd;*/
    /*border-radius: 5px;*/
    /*font-size: 20px;*/
    /*padding: 10px;*/
    /*box-sizing: border-box;*/
    /*outline: none;*/

/*}*/

/*input[type=text]:focus*/
/*{*/
    /*-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);*/
    /*-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);*/
    /*box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);*/
    /*border: 2px solid #a5cda5;*/
    /*background-color: #e9f3e9;*/
    /*color: #428c42;*/
/*}*/

/*input[type=submit]*/
/*{*/
    /*width: 200px;*/
    /*background-color: #36b03c;*/
    /*font-size:20px;*/
    /*color: white;*/
    /*padding: 11px;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*cursor: pointer;*/
    /*letter-spacing: 2px;*/
    /*outline: none;*/
/*}*/

/*input[type=submit]:focus*/
/*{*/
    /*-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);*/
    /*-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);*/
    /*box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);*/
/*}*/

/*input[type=submit]:hover*/
/*{*/
    /*background-color: #37b93d;*/
/*}*/


/*p*/
/*{*/
    /*text-align: justify;*/

/*}*/

/*.fb*/
/*{*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: #4668b3;*/
    /*float: right;*/
    /*margin-right: 50px;*/
    /*margin-left: 10px;*/
    /*margin-top: 20px;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/

/*}*/

/*.fb:hover*/
/*{*/
    /*background-color:#5779c4 ;*/
/*}*/

/*.tw*/
/*{*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: #3095d3;*/
    /*float: right;*/
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/
/*}*/

/*.tw:hover*/
/*{*/
    /*background-color: #2084c2;*/
/*}*/

/*.ins*/
/*{*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: #5851db;*/
    /*float: right;*/
    /*margin-top: 20px;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/

/*}*/

/*.ins:hover*/
/*{*/
    /*background-color: #4740ca;*/
/*}*/



/*.copy-rrrr*/
/*{*/
    /*text-align: center;*/
    /*font-family: 'Lora', arial, serif;*/
    /*color:white;*/
    /*font-weight:400;*/
    /*padding: 10px;*/
    /*margin-top: 20px;*/
/*}*/

/*.person{*/
    /*background-color: red;*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;!* jeżeli zdjęcie będzie mniejsze niż cała sekcja to efekt będzie taki,*/
         /*background-size:contain;           że mamy zdjęcie i fragment pola z div w którym będzie h2 i p *!*/
    /*height:200px;*/
    /*width:150px;*/
    /*display: inline-block;*/
    /*margin: 0 20px 0 20px;*/
    /*padding: 10px;*/

    /*!* do tego jakieś marginy i paddingi *!*/
/*}*/
/*.daniel{*/
    /*background-image:url('images/person-image-team-daniel.png');*/
/*}*/
/*.Marta{*/
    /*background-image:url('images/person-image-team-marta.png');*/
/*}*/
/*.Marcin{*/
    /*background-image:url('images/person-image-team-marcin.png');*/
/*}*/

/*footer*/
/*{*/
    /*width: auto;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*background-color: brown;*/
    /*text-align: center;*/


/*}*/

/*footer a{*/
    /*background-repeat: no-repeat;*/
    /*background-size:contain;*/
    /*height:30px;*/
    /*width:30px;*/



    /*!* do tego jakieś marginy i paddingi *!*/
/*}*/
/*.wp-link {*/
    /*background-image: url('images/logo-wp-footer.png');*/
    /*line-height: 50px;*/
    /*font-size: 30px;*/
    /*padding: 10px;*/
    /*margin: 20px;*/


/*}*/
/*!*##############################EFEKT WINDOW#############################################*!*/
/*.modalDialog {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: rgba(0,0,0,0.8);*/
    /*z-index: 99999;*/
    /*opacity:0;*/
    /*-webkit-transition: opacity 400ms ease-in;*/
    /*-moz-transition: opacity 400ms ease-in;*/
    /*transition: opacity 400ms ease-in;*/
    /*pointer-events: none;*/
/*}*/

/*.modalDialog:target {*/
    /*opacity:1;*/
    /*pointer-events: auto;*/
/*}*/

/*.modalDialog > div {*/
    /*width: 400px;*/
    /*position: relative;*/
    /*margin: 10% auto;*/
    /*padding: 5px 20px 13px 20px;*/
    /*border-radius: 10px;*/
    /*background: #fff;*/
    /*background: -moz-linear-gradient(#fff, #999);*/
    /*background: -webkit-linear-gradient(#fff, #999);*/
    /*background: -o-linear-gradient(#fff, #999);*/
/*}*/

/*.close {*/
    /*background: #606061;*/
    /*color: #FFFFFF;*/
    /*line-height: 25px;*/
    /*position: absolute;*/
    /*right: -12px;*/
    /*text-align: center;*/
    /*top: -10px;*/
    /*width: 24px;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
    /*-webkit-border-radius: 12px;*/
    /*-moz-border-radius: 12px;*/
    /*border-radius: 12px;*/
    /*-moz-box-shadow: 1px 1px 3px #000;*/
    /*-webkit-box-shadow: 1px 1px 3px #000;*/
    /*box-shadow: 1px 1px 3px #000;*/
/*}*/

/*.close:hover { background: #00d9ff; }*/