.wrapper{position:relative;}


/*######## Global classes #########*/
.clear{
    clear:both;
}
.left{
    float:left;
}
.right{
    float:right;
}
.initial{
    float:initial;
}
/*####*/

.page-section-header{
    background-color: rgba(38, 50, 56, 0.8);
    transition: background-color 0.25s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.menu li{
    margin-top:30px;
    margin-right: 50px;
    display: inline-block;
}
.menu a{
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway',sans-serif,arial;
}

.menu a:hover{
    color:#FC7753;
    font-size: 20px;
}

@media only screen and (max-width: 800px) {

    .menu{
        width: auto;
    }
    .menu li{
        margin-right: 10px;
        margin-top: 0;
    }

    .menu ul li i{
        visibility: visible;
        font-size: 35px;
        margin-left: 10px;
    }
    .menu ul li i:hover{
        text-shadow:2px 2px 0 gray;
    }
    /*po najechaniu kursorem dodaje efekt rozmycia */
    .hiding{
        display: none;
    }
    .menu ul li:last-child{
        display: none;
        /*ten zapis ukrywa sing up. po usunieciu tego zapisu przy skalowaniu strony pojawi sie przy ikonkach tylko napis
          nie ma przypisanej ikonki
        */
    }
}

/*########  IKONKI    #######3*/
.ion-ios-home-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-at-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-people-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-more-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-star-outline{
    font-size: 20px;
    visibility: hidden;
}

