body
{
    /* Background pattern from subtlepatterns.com */
    background-image: url(img/background-image-body.png);
    font-size: 20px;
    margin: 0;

}

header
{

    /*height: auto;*/
    height: 500px; /*narazie tylko na testy ustawilem 500px, potem bedzie na auto*/
}

h1
{
    text-align: center;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:3px 3px 0 gray;
    font-family: 'Merienda', cursive;

}

nav
{
    text-align: center;
    width: 100%;
}

ol
{
    width:1000px;
    margin-right: auto;
    margin-left: auto;

}

li
{
    list-style: none;
    width: 200px;
    border-radius: 5px;
    display: inline-block;
    background-color: lightgray;
    padding: 15px;
    letter-spacing: 1px;
    border:2px solid black;
    box-shadow:0 0 20px black; /*cien wokol okregu*/

}

li:hover
{
    -webkit-transform: scale(1.1) translate(0px, 0px);
    -moz-transform: scale(1.1) translate(0px, 0px);
    -o-transform: scale(1.1) translate(0px, 0px);
    -ms-transform: scale(1.1) translate(0px, 0px);
}

a
{
    text-decoration: none;
    color: #000;
}


section
{
    width: 100%;
}

.title1
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}

.title2
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

form
{
    text-align: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
    padding: 50px;
    border-radius: 10px;
    border:2px solid black;
    box-shadow:0 0 20px black; /*cien wokol okregu*/
}

input[type=text]

{
    width: 200px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;

}

input[type=text]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type=submit]
{
    width: 200px;
    background-color: #36b03c;
    font-size:20px;
    color: white;
    padding: 11px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
    background-color: #37b93d;
}
/*
#square1
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:0 0 20px black;
    width: 416px;
    height: 436px;
    float: left;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;

    background-color: lightgray;
}

#square2
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:0 0 20px black;
    width: 416px;
    height: 436px;
    float: right;
    margin-right:100px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;

    background-color: lightgray;
}

#square3
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:0 0 20px black;
    width: 416px;
    height: 436px;
    float: left;
    margin-left: 100px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;

    background-color: lightgray;
}


#square4
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:0 0 20px black;
    width: 416px;
    height: 436px;
    float: right;
    margin-right:100px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;

    background-color: lightgray;
}
*/

table td
{
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}

table
{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: lightgray;
    border-collapse: collapse; /*po usunieciu linie w tabeli beda podwojne*/
}

p
{
    text-align: justify;

}

.fb
{
    width: 100px;
    height: 100px;
    background-color: #4668b3;
    float: right;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;

}

.fb:hover
{
    background-color:#5779c4 ;
}

.tw
{
    width: 100px;
    height: 100px;
    background-color: #3095d3;
    float: right;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.tw:hover
{
    background-color: #2084c2;
}

.ins
{
    width: 100px;
    height: 100px;
    background-color: #5851db;
    float: right;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;

}

.ins:hover
{
    background-color: #4740ca;
}



.copy-rrrr
{
    text-align: center;
    font-family: 'Lora', arial, serif;
    color:white;
    font-weight:400;
    padding: 10px;
    margin-top: 20px;
}

.person{
    background-color: red;
    background-repeat: no-repeat;
    background-position: top center;/* jeżeli zdjęcie będzie mniejsze niż cała sekcja to efekt będzie taki,
         background-size:contain;           że mamy zdjęcie i fragment pola z div w którym będzie h2 i p */
    height:200px;
    width:150px;
    display: inline-block;

    /* do tego jakieś marginy i paddingi */
}
.daniel{
    background-image:url('images/person-image-team-daniel.png');
}
.Marta{
    background-image:url('images/person-image-team-marta.png');
}
.Marcin{
    background-image:url('images/person-image-team-marcin.png');
}

footer
{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: brown;
    text-align: center;


}

footer a{
    background-repeat: no-repeat;
    background-size:contain;
    height:30px;
    width:30px;



    /* do tego jakieś marginy i paddingi */
}
.wp-link {
    background-image: url('images/logo-wp-footer.png');

    line-height: 50px;
    font-size: 30px;
    padding: 10px;
    margin: 20px;


}