body
{
    /* Background pattern from subtlepatterns.com */
    background-image: url(img/tlo.png);
    font-size: 20px;
    margin: 0;

}

header
{

    /*height: auto;*/
    height: 500px; /*narazie tylko na testy ustawilem 500px, potem bedzie na auto*/
}

h1
{
    text-align: center;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:3px 3px 0 gray;
    font-family: 'Merienda', cursive;

}

nav
{
    text-align: center;
    width: 100%;
}

ol
{
    width:1000px;
    margin-right: auto;
    margin-left: auto;

}

li
{
    list-style: none;
    width: 200px;
    border-radius: 5px;
    display: inline-block;
    background-color: red;
    padding: 15px;
    letter-spacing: 1px;
    border:2px solid orange;
    box-shadow:0 0 20px orange; /*cien wokol okregu*/

}

li:hover
{
    -webkit-transform: scale(1.1) translate(0px, 0px);
    -moz-transform: scale(1.1) translate(0px, 0px);
    -o-transform: scale(1.1) translate(0px, 0px);
    -ms-transform: scale(1.1) translate(0px, 0px);
}

a
{
    text-decoration: none;
    color: #000;
}


section
{
    width: 100%;
}

.title1
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}

.title2
{
    width: 100%;
}

form
{
    text-align: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
    padding: 50px;
    border-radius: 10px;
    border:2px solid black;
    box-shadow:0 0 20px black; /*cien wokol okregu*/
}

input[type=text]

{
    width: 200px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;

}

input[type=text]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type=submit]
{
    width: 200px;
    background-color: #36b03c;
    font-size:20px;
    color: white;
    padding: 11px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
    background-color: #37b93d;
}

table
{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: lightgray;
    border-collapse: collapse; /*po usunieciu linie w tabeli beda podwojne*/
}

table td
{
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}


footer
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: brown;

}