/*######## Global classes #########*/
.clear{
    clear:both;
   }
.left{
    float:left;
}
.right{
    float:right;
}
.initial{
    float:initial;
}
/*####*/
.wrapper{position:relative;}
#banner {
   background-image:url('images/background-image-banner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    height:800px;
    width:100%;
}
header{
    position:fixed;
    z-index:1;
    height:75px;
    width:100%;
}
/*######## logo###########*/
.logo{
    background-image:url('images/icon-logo-banner-2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
    color: white;
    font-family:'Lora',arial,serif;
    font-weight:400;
    font-size:22px;
    line-height:30px;
    height:30px;
    padding-left:48px;
    margin:23px;
    letter-spacing:2px;
}
/*########## navigation ###############*/
.menu a{
    margin-top:30px;
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway',sans-serif,arial;
    margin-right: 50px;
    opacity:0.8;
    display:inline-block;
}
.menu a:hover{
    color:#FC7753;
}
/*########### banner ###############*/
.banner-title{
    margin:0 auto;
    padding-top:310px;
    text-align:left;
    font-family: 'Lora', arial, serif;
    color:white;
    font-weight:400;
    padding-left:100px;
    }
.banner-title h1{
    font-size:70px;
    line-height:70px;
    padding-bottom:20px;
}
.banner-title h4 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 35px;
    font-weight: 400;
    font-style: italic;
    padding-left:5px;
}
.banner-title .button{
    padding-left:5px;
    padding-right:27px;
    line-height:17px;
    font-size:15px;
    text-decoration:none;
    color: #fce7f3;
    margin-right:60px;
    background-image:url('images/icon-arrow-right-white.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center;
}
.banner-title .button:hover{
    color:white;
}
/*################### description section #####################*/

#description{
    height:500px;
    width:100%;
    background-color:#EFE1E7;/*#A8D0E6*/
    display:inline-block;
    color:#24305E;
    font-family:'Lora',Baskerville, serif;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    box-sizing:border-box;
    }
#description h2{
    font-size:50px;
    line-height:60px;
    padding-top:154px;
    padding-left:100px;
    box-sizing:border-box;
}
#description h4{
    font-size: 17px;
    line-height: 30px;
    margin-right:70px;
    padding-top: 170px;
    font-weight:400;
    font-style: italic;
}
#description .separator{
    float:left;
    border-style: solid;
    border-width:2px;
    border-color:#24305E;
    border-left-style:none;
    border-right-style:none;
    border-bottom-style:none;
    width:50px;
    margin-left:20px;
    margin-top:188px;
   }
/*############### features section ####################*/
#features{
    margin-top:-4px;
    height:900px;
    width:auto;
    background-color:#F76C6C;
    opacity:0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    }
#features h2 {
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    color:white;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
    margin-bottom:30px;
}
.icon{
    display:inline-block;
    height:50px;
    width:auto;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    margin:70px;
}
.icon-on-time{
    background-image:url('images/icon-heart-calendar-features-white.png');
   }
.icon-made-with-love{
    background-image:url('images/icon-love-gesture-features-white.png');
    height:40px;
    }
.icon-support{
    background-image:url('images/icon-heart-support-features-white.png');
}
.icon-unique-gift{
    background-image:url('images/icon-unique-gift-features-white.png');
}
.icon-special-design{
    background-image:url('images/icon-special-design-features-white.png');
    height:40px;
   }
.icon-calligraphy{
    background-image:url('images/icon-calligraphy-features-white.png');
}
.icon h3{
    padding-top:80px;
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    color:white;
    letter-spacing:2px;
    }
.icon p{
    padding-top:10px;
    text-align:center;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:15px;
    line-height:22px;
    opacity:0.7;
   }
.cta-button{
    margin-top:70px;
    display:flex;
    align-content: center;
    justify-content: center;
}
.cta-button a{
    color:white;
    padding:15px;
    font-family:'Lora',Baskerville,serif;
    font-size:18px;
    text-align:center;
    text-decoration:none;
    border-style:solid;
    border-width:1px;
    border-color:white;
    border-radius:25px;
    }
.cta-button a:hover{
    opacity:0.5;
}
/*############### team ####################*/
.team-wrapper{
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}


#team{
    background-color:#99CED4;
    height:700px;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    opacity:0.9;
}

#team h2 {
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    color:white;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
    margin-bottom:70px;
}
.person{
    background-image:url('images/photo-team.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    height:180px;
    width:180px;
    display:inline-block;
    border-radius:50%;
    margin-right:50px;
    margin-left:50px;
}
.person h3{
    padding-top:230px;
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    color:white;
    letter-spacing:2px;
}
.person p{
    padding-top:10px;
    text-align:center;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:14px;
    line-height:22px;
    opacity:0.7;
    width:auto;
}
/*############### contact ####################*/
#contact{
    height:110px;
    width:auto;
    background-color: #374e87;
    padding:30px 0px;
}
.contact-nav{
    height:100px;
    width:80px;
    box-sizing:border-box;
    display:inline-block;
    margin-left:50px;
}
#contact .contact-nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    display:inline-block;
    line-height:24px;
    opacity:0.8;
}
#contact .contact-nav a:hover{
    opacity:0.5;
}
.contact-offer{
    margin-left:50px;
    display:inline-block;
 }
.contact-offer h3{
    font-family: 'Lora',Baskerville,serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    opacity:0.8;
    letter-spacing: 2px;
}
.contact-offer .cta-button{
    margin-top:30px;
    display:inline-block;
   }
.contact-offer .cta-button a{
    color:white;
    padding:15px;
    font-family:'Raleway',arial,sans-serif;
    font-weight:500;
    font-size:12px;
    line-height:4px;
    text-align:center;
    letter-spacing:1px;
    text-decoration:none;
    background-color:#F88989;
    border-style:none;
    width:auto;
    border-radius:30px;
}
.contact-offer .cta-button a:hover{
    opacity:0.5;
}
.copyright{
    font-family: 'Lora',Baskerville,serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity:0.3;
    letter-spacing:1px;
    margin-left:50px;
    margin-top:75px;
}
.social-contact{
}
 .social-icon{
    height:50px;
    width:50px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    margin-right:50px;
     margin-top:25px;
    }
.icon-twitter{
    display:inline-block;
    background-image:url('images/icon-twitter-contact.png');
}
.icon-facebook{
    display:inline-block;
    background-image:url('images/icon-facebook-contact.png');
}
.icon-instagram{
    display:inline-block;
    background-image:url('images/icon-instagram-contact.png');
}
