/*######## Global classes #########*/
.clear{
    clear:both;
   }
.left{
    float:left;
}
.right{
    float:right;
}
.initial{
    float:initial;
}
/*####*/
.wrapper{position:relative;}
#banner {
    height:700px;
    width:100%;
    background-size:contain;
    background-position:bottom center;
}
video {
    width: 100%;
    position: absolute;
    z-index: -1;

}
.page-section-header{
    background-color: rgba(38, 50, 56, 0.8);
    transition:background-color 0.25s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /*wysokosc menu jest automatyczna*/
    /*height:76px;*/
}
.small-page-section-header{
    background-color: rgba(38, 50, 56, 0.0);
}
.smaller-height-navigation{
    height:50px;
    }
.smaller-height-navigation .logo{
    height:15px;
    font-size:15px;
    line-height:19px;
    padding-left:30px;
    margin:15px 15px;
}
.smaller-height-navigation .menu a {
    font-size: 10px;
    line-height:10px;
}

.smaller-height-navigation .menu li {
    margin-top: 5px;
    margin-right: 50px;
    line-height:10px;
   }
/*#########probka ze slideshow###########*/
#slideshow {
   position: relative;
}
#slideshow > div {
    height:700px;
    width: 100%;
    position: absolute;
    z-index: -1;
 }
.item{
    background-image: url('images/background-image-banner.jpg');
    background-size: cover;
    background-position: bottom center;
}
/*######## logo###########*/
.logo{
    background-image:url('images/icon-logo-banner-2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
    color: white;
    font-family:'Lora',arial,serif;
    font-weight:400;
    font-size:22px;
    line-height:30px;
    height:30px;
    padding-left:48px;
    margin:23px;
    letter-spacing:2px;
    transition:height 0.25s,font-size 0.25s;
}
/*########## navigation ###############*/
.menu li{
    margin-top:5px;
    margin-right: 50px;
    display: inline-block;
        }
.menu a{
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway',sans-serif,arial;
    transition:font-size 0.25s;
}
.menu a:hover{
    color:#FC7753;
}

.menu a:focus{
    color: #FC7753;
}
/*########### banner ###############*/
.banner-title{
    margin:0 auto;
    text-align:left;
    font-family: 'Lora', arial, serif;
    color:white;
    font-weight:400;
    padding-top:230px;
    padding-left:100px;
    }
.banner-title h1{
    font-size:60px;
    line-height:60px;
    padding-bottom:20px;
}
.banner-title h4 {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 35px;
    font-weight: 400;
    font-style: italic;
    padding-left:5px;
}
.banner-title .button{
    padding-left:5px;
    padding-right:27px;
    line-height:17px;
    font-size:15px;
    text-decoration:none;
    color: #fce7f3;
    margin-right:60px;
    background-image:url('images/icon-arrow-right-white.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center;
}
.banner-title .button:hover{
    color:white;
}
/*################### description section #####################*/

#description{
    background-color:#EFE1E7;/*#A8D0E6*/
    display:inline-block;
    padding-top:70px;
    padding-bottom:140px;
    padding-left:100px;
    color:#24305E;
    font-family:'Lora',Baskerville, serif;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    opacity:1;
    transition-property:background-color;
    transition-duration:2s;

    -webkit-transition-property:background-color;
    -webkit-transition-duration:2s;
    }
#description h2{
    font-size:50px;
    line-height:60px;
    box-sizing:border-box;
    margin-right:20px;
}
#description h4{
    margin-right:50px;
    font-size: 17px;
    line-height: 30px;
    padding-top:17px;
    font-weight:400;
    font-style: italic;
}
#description .separator{
    float:left;
    border-style: solid;
    border-width:2px;
    border-color:#24305E;
    border-left-style:none;
    border-right-style:none;
    border-bottom-style:none;
    width:50px;
    margin-left:0;
    margin-right:15px;
    margin-top:30px;
   }
#description:hover{
    background-color: #BCB0B4;
}
/*############### features section ####################*/
#features{
    margin-top:-4px;
    background-color:#F76C6C;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom center;
    background-image: url('images/features-bg.jpg');
    padding-top:70px;
    padding-bottom:140px;
    opacity:1;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    }
#features h2 {
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    color:white;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
    margin-bottom:30px;
}
.icon{
    display:inline-block;
    height:50px;
    width:auto;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    margin:70px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.6s ease-out .1s
}
.icon:hover{
    -webkit-transform: scale(1.1) translate(0px, 5px); /*chrom. skalowanie obrazka*/
    -moz-transform: scale(1.1) translate(0px, 5px); /*mozila. skalowanie wielkosci obrazka*/

    -webkit-transition: -webkit-transform 1s ease-in .1s;

}
.icon-on-time{
    background-image:url('images/icon-heart-calendar-features-white.png');
   }
.icon-made-with-love{
    background-image:url('images/icon-love-gesture-features-white.png');
    height:40px;
    }
.icon-support{
    background-image:url('images/icon-heart-support-features-white.png');
}
.icon-unique-gift{
    background-image:url('images/icon-unique-gift-features-white.png');
}
.icon-special-design{
    background-image:url('images/icon-special-design-features-white.png');
    height:40px;
   }
.icon-calligraphy{
    background-image:url('images/icon-calligraphy-features-white.png');
}
.icon h3{
    padding-top:80px;
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    color:white;
    letter-spacing:2px;
    }
.icon p{
    padding-top:10px;
    text-align:center;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:15px;
    line-height:22px;
    opacity:0.7;
   }
#features .cta-button{
    margin-top:70px;
    display:flex;
    align-content: center;
    justify-content: center;
}
#features .cta-button a{
    color:white;
    padding:15px;
    font-family:'Lora',Baskerville,serif;
    font-size:18px;
    text-align:center;
    text-decoration:none;
    border-style:solid;
    border-width:1px;
    border-color:white;
    border-radius:25px;
    }
#features .cta-button a:hover{
    opacity:0.5;
}
/*############### team ####################*/


#team{
    background-color: #fcfafa;
    padding-top:90px;
    padding-bottom:140px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0px 10px 19px -9px rgba(87,66,87,1);
    opacity:1;
    transition-property:background-color;
    transition-duration:2s;

    -webkit-transition-property:background-color;
    -webkit-transition-duration:2s;
}
.team-wrapper{
    margin:0 auto!important;
}
#team:hover{
    background-color: #CCCCCC;
}

#team h2 {
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    color: #59686e;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
    margin:0 auto;
    padding-bottom:60px;
    display:flex;
    align-items:center;
    justify-content: center;

}
.person{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:top center;
    height:180px;
    width:180px;
    border-radius:50%;
    display:inline-block;
    box-shadow: 0px 13px 13px -7px rgba(13, 13, 51, 0.5);
    margin-right:50px;
    margin-left:50px;
    margin-top:40px;
}
.daniel{
    background-image:url('images/team-section-daniel.jpg');
}
.marta{
    background-image:url('images/team-section-marta.jpg');
}
.marcin{
    background-image:url('images/team-section-marcin.jpg');
}
.pawel{
    background-image:url('images/team-section-pawel.jpg');
}
.person h3{
    padding-top:210px;
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    color: #525252;
    letter-spacing:2px;
}
.person p{
    padding-top:10px;
    text-align:center;
    color: #525252;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:14px;
    line-height:22px;
    opacity:0.7;
    width:auto;
    }
/*############### contact ####################*/
#contact{
    position: relative;
    background-color: #292d43;
    padding:80px 0px;
 }
#contact .contact-nav{
    height:100px;
    width:80px;
    box-sizing:border-box;
    display:inline-block;
    margin-left:50px;
  }
#contact .contact-nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    display:inline-block;
    line-height:24px;
    opacity:0.8;
}
#contact .contact-nav a:hover{
    opacity:0.5;
}
.contact-offer{
    margin-left:50px;
    display:inline-block;
   }
.contact-offer h3{
    font-family: 'Lora',Baskerville,serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    opacity:0.8;
    letter-spacing: 2px;
}
.contact-offer .cta-button{
    margin-top:30px;
    display:inline-block;
   }
.contact-offer .cta-button a{
    color:white;
    padding:15px;
    font-family:'Raleway',arial,sans-serif;
    font-weight:500;
    font-size:12px;
    line-height:4px;
    text-align:center;
    letter-spacing:1px;
    text-decoration:none;
    background-color:#F88989;
    border-style:none;

    border-radius:30px;
}
.contact-offer .cta-button a:hover{
    opacity:0.5;
}
.copyright{
    font-family: 'Lora',Baskerville,serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity:0.3;
    letter-spacing:1px;
    margin-top:40px;
}
.social-contact{
margin-left:400px;
}
 .social-icon{
    height:50px;
    width:50px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    margin-right:20px;
     margin-top:25px;
    }
.icon-twitter{
    display:inline-block;
    background-image:url('images/icon-twitter-contact.png');
}
.icon-facebook{
    display:inline-block;
    background-image:url('images/icon-facebook-contact.png');
}
.icon-instagram{
    display:inline-block;
    background-image:url('images/icon-instagram-contact.png');
}
/*############ Modal window###################*/

.modalDialog {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99998;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /*pointer-events: none;*/
}

.modalDialog > div {
    height:350px;
    max-width:400px;
    position: relative;
    margin: 10% auto;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background: #F88989;
    box-shadow: 0px 7px 56px 1px rgba(248,137,137,0.77);
    border-radius:10px;

}
.modalDialog > div h3{
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    padding-bottom:8px;
    color:white;
    letter-spacing:2px;
}
.modalDialog > div p{
    text-align:center;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:14px;
    line-height:22px;
    padding-bottom:22px;
    opacity:0.7;
}

label{
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-size:15px;
    margin-right:10px;
    opacity:0.8;
}
.antybot{
    font-size:14px;
   }
input[type=submit]{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
    background-color:#F88989;
    color: white;
    font-family:'Raleway',arial,sans-serif;
    font-weight:400;
    font-size:12px;
    letter-spacing:1px;
    padding: 10px 32px;
    text-decoration: none;
    margin-top:40px;
    margin-bottom:20px;
    cursor: pointer;
    position:absolute;
    left:140px;
    }


input[type=checkbox]{
    width: 11px;
    height: 11px;
    border: 1px solid #808080;
    border-radius:50%;
    margin-right:10px;
    background:rgba(255,255,255,0.2);
   }



#name-field {
    border-style:solid;
    border-bottom-width:1px;
    border-top:0;
    width:250px;
    color:white;
    border-left:0;
    border-right:0;
    border-color:white;
    background-color:#F88989;
    margin-right:50px;
    margin-bottom:20px;
   }
#email-field {
    border-style:solid;
    border-bottom-width:1px;
    border-top:0;
    width:250px;
    color:white;
    border-left:0;
    border-right:0;
    border-color:white;
    background-color:#F88989;
    margin-bottom:20px;
}
.close {
    background-image:url('images/icon-close-modal-window-white.png');
    background-repeat:no-repeat;
    background-size:contain;
    height:35px;
    width:35px;
    line-height: 25px;
    position: absolute;
    right: 11px;
    text-align: center;
    top: 10px;
   }

.close:hover { opacity:0.5; }


/* Cookie warning */

#cookie-warn{
    position: fixed;
    bottom: 0;
    background: #EEE;
    margin: 0;
    padding: 15px;
    width: 100%;
    display: none;
    z-index: 99;
}

#cookie-warn a{
    color: rgba(37, 28, 95, 1);
    text-transform: uppercase;
    float: right;
    padding-right: 20px;
}

#cookie-warn p{
    font-size: 12px;
    line-height:20px;
    color: #333;
}

/*przycisk powrotu na g�r�*/

.button-back-to-top{
    height:45px;
    width:45px;
    border-radius:50%;
    background-size:30%;
    background-position:center center;
    background-repeat: no-repeat;
    background-image: url('images/icon-back-to-top.png');
    position:fixed;
    right:50px;
    bottom:20px;
    z-index:100;
    display:block;
    background-color: rgba(98, 79, 212,0.9);
    transition:background-color 0.75s;

}
.hide-button{
    display:none;
    background-color: rgba(98, 79, 212,0.0);
}

.move-button {
    top: -70px;
    position: absolute;

}
/*######################################    MEDIA   ###############################################*/
@media only screen and (max-width: 600px) {
    .menu{
      width: auto;
    }
    .menu li{
        margin-right: 10px;
        margin-top: 20px;
        padding-top: 0;

    }
    .menu ul{
        text-align: center;
    }
    .menu ul li i{
        visibility: visible;
        font-size: 25px;
        /*margin-left: 50px;*/
        margin-top: 0;
    }
    .smaller-height-navigation{
        height:auto;
    }

    .menu ul li i:hover{
        text-shadow:2px 2px 0 gray;
    }
    .hiding{
    }
    .menu ul li:last-child{
        display: none;
        /*ten zapis ukrywa sing up. po usunieciu tego zapisu przy skalowaniu strony pojawi sie przy ikonkach tylko napis
          nie ma przypisanej ikonki
        */
    }

}


/*########  IKONKI    #######3*/
.ion-ios-home-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-at-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-people-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-more-outline{
    font-size: 20px;
    visibility: hidden;
}
.ion-ios-star-outline{
    font-size: 20px;
    visibility: hidden;
}

/*############################# GAME ###################################*/

.modelGame{
    position: fixed;
    /*ODKOMENTOWAC POTEM*/
    /*top:0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    top:5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    background: rgba(0,0,0,0.6);

}
#board{
    width: 680px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #F88989;
    z-index: 99999;
    position: relative;
}

#area{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    background-color: lightgray;
    float: left;
}
#score
{
    width: 100px;
    font-size: 15px;
    background-color: yellowgreen;
    float: left;
}

.closeGame {
    background-image:url('images/icon-close-modal-window-white.png');
    background-repeat:no-repeat;
    background-size: contain;

    height:35px;
    width:35px;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
