/*#### Global classes ####*/
.clear{
    clear:both;
}
.wrapper{position:relative;}
#banner {
   background-image:url('images/background-image-features.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    height:900px;
    width:100%;
}
.banner-title{
    margin:0 auto;
    padding-top:370px;
    text-align:left;
    font-family: 'Lora', arial, serif;
    color:white;
    font-weight:400;
    }
.banner-title h1{
    font-size:70px;
    padding-left:100px;
}
.banner-title h3 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    padding-left: 110px;
    border-width: 0 0 0 3px;
    border-style: solid;
    font-family: 'Lora',arial,serif;
    font-weight: 400;
    font-style: italic;

}

header{
    position:fixed;
    z-index:1;
    height:75px;
    width:100%;
   }
/*######## logo###########*/
.logo{
    background-image:url('images/icon-logo-banner-2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
    color: white;
    font-family:'Lora',arial,serif;
    font-weight:400;
    font-size:22px;
    line-height:30px;
    float:left;
    height:30px;
    padding-left:48px;
    margin:23px;
    letter-spacing:2px;
}
/*########## navigation ###############*/
nav a  {
    margin-top:30px;
    text-decoration:none;
    float:right;
    text-transform: uppercase;
    color: #404040;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway',sans-serif,arial;
    margin-right: 50px;
    overflow: hidden;
    opacity:0.8;
}
nav a:hover{
    color:#FC7753;
}
/*####### ########*/