#myCanvas{
    display:block;
    margin:auto;
    position:absolute;
    bottom:50px;
}
#alert {
    display: none;
    position: absolute;
    z-index: 9999;
    top:100px;
    left: 300px;
    height: 350px;
    width: 400px;
    margin: 10% auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #85488c;
    box-shadow: 0px 7px 56px 1px rgba(248,137,137,0.77);
    border-radius: 10px;
}

#alert h3{
    text-align:center;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-size:20px;
    color:white;
    letter-spacing:2px;}

.exit{
    text-align:center;
    text-decoration:none;
    color:white;
    font-family:'Lora',Baskerville,serif;
    font-weight:400;
    font-style:italic;
    font-size:14px;
    line-height:22px;
    padding-bottom:22px;
    padding-left:180px;
    opacity:0.7;
}